header {
    background-color: red;
    margin: 0;
}   

div {
    /* position: absolute; */
    margin: 0 0px;
    text-align: center;
    /* display: flex; */
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    outline: none;
}

input {
    padding: 0;
    width: 500px;
    height: 40px;
    font-size: 20px;
}

